@import url("http://fonts.cdnfonts.com/css/gotham");
@import "./variables.scss";
@import "./scrollbar.scss";
@import "./errors.scss";
body {
  background-color: $background;
  padding: 0;
  margin: 0;
  font-family: "Gotham", sans-serif;
  color: $font-color;
}
button {
  cursor: pointer;
  border: none;
}
.gray {
  color: $gray;
}
* {
  box-sizing: border-box;
}
*::selection {
  background-color: rgb(170, 219, 219);
  color: rgb(26, 40, 49);
}
h3 {
  margin: 0;
}
.wrap {
  margin-top: 125px;
  display: grid;
  gap: 70px;
  justify-content: center;
  grid-template-columns: 310px;
  grid-template-areas:
    "side-bar content"
    "side-bar highlights";
  max-width: 100%;
  padding-bottom: 80px;
}
.content {
  grid-area: content;
  max-width: 100%;
  width: fit-content;
}
.highlights {
  grid-area: highlights;
  width: fit-content;
}
.side-bar {
  grid-area: side-bar;
}
.section {
  background-color: #fff;
  width: 310px;
  box-shadow: 0px 4px 28px rgba(150, 169, 186, 0.5);
  border-radius: 30px;
  padding: 30px 43px;
}

.search-btn {
  display: flex;
  align-items: center;
  font-weight: 400;
  width: 100%;
  font-size: 16px;
  line-height: 15px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  gap: 7px;
  color: #6a7078;
  padding: 5px 13px;
}
.today-section {
  &__ico-block {
    margin-top: 25px;
  }
  &__ico {
    display: block;
    margin: 0 auto;
  }
}
.today-info {
  margin-top: 70px;
  padding-bottom: 20px;
  &__degrees-text {
    position: relative;
  }
  &__degree {
    font-size: 64px;
    font-weight: 100;
  }
  &__text {
    margin-top: 15px;
  }
  &__degree-unit {
    position: absolute;
    font-size: 20px;
  }
  &__city {
    font-size: 24px;
    font-weight: 500;
  }
  &__date-day {
    font-size: 15px;
  }
  &__date-time {
    font-size: 15px;
    color: $gray;
  }
}

.content-main {
  padding-top: 20px;
  &__header-body {
    display: flex;
    gap: 50px;
    color: $gray;
  }
}
.title-btn {
  cursor: pointer;
  font-weight: 700;
  font-size: 36px;
  transition: .3s;
}
.title-btn_active {
  color: $font-color;
}
@mixin block {
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(150, 169, 186, 0.25);
  border-radius: 30px;
}
.content-days {
  margin-top: 55px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  &__item {
    @include block;
    width: 160px;
    height: 180px;
    padding: 0 48px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 26px;
    padding-bottom: 11px;
    & h3 {
      font-weight: 500;
      font-size: 24px;
      margin: 0;
      margin-bottom: 7px;
    }
  }
  &__item-degree {
    margin-top: 20px;
  }
  &__item-degree-body {
    font-weight: 500;
    font-size: 18px;
    display: flex;
    color: #313135;
    display: flex;
    gap: 3px;
    &:nth-child(2) {
      color: $gray;
    }
  }
}
.content-highlights {
  margin-top: 75px;
}
.todays-highlights {
  display: grid;
  grid-template-rows: repeat(2, 210px);
  grid-template-columns: repeat(3, 250px) 462px;
  gap: 30px;
  &__item {
    @include block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 210px;
    padding: 25px;
    &_map {
      @include block;
      width: 100%;
      height: 100%;
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 3;
      overflow: hidden;
      #mapHighlights {
        width: 100%;
        height: 450px;
      }
    }
  }
  &__description {
    font-weight: 300;
    font-size: 16px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #000000;
  }
}
.sun {
  margin-top: 42px;
  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 14px;
  }
  &__ico {
    width: 43px;
    height: 43px;
    background: #f8e274;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__value {
    font-weight: 500;
    font-size: 20px;
    line-height: 19px;
    color: #313135;
  }
}
.temperature {
  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 14px;
    &:nth-child(1) {
      .temperature__ico {
        background-color: #5a87de;
      }
    }
    &:nth-child(2) {
      .temperature__ico {
        background-color: #de825b;
      }
    }
  }
  &__ico {
    width: 24px;
    height: 24px;
    background-color: red;
    border-radius: 50%;
  }
  &__value {
    font-weight: 500;
    font-size: 20px;
    line-height: 19px;
    color: #313135;
  }
}
.humidity {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}
.highlight-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 19px;
  color: #dadada;
}
.uv-chart {
  position: relative;
  &__value {
    position: absolute;
    font-size: 32px;
    left: 50%;
    margin-right: -50%;
    bottom: 60px;
    transform: translate(-50%, -50%);
  }
  &__body {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
  }
  &__label {
    font-size: 5px;
    color: gray;
  }
  & circle {
    fill: none;
    // animation-name: uv-chart-render;
    transition-property: all;
    transition-duration: 1.5s;
    stroke-dashoffset: -69.115;
    stroke-dasharray: 69.115 100;
  }
  &__main-line {
    stroke-width: 6;
    stroke: #f5d16c;
  }
  &__gray-line {
    stroke-width: 3;
    stroke: #e2e4e3;
  }
  @keyframes uv-chart-render {
    0% {
      stroke-dasharray: 0 100;
    }
  }
}
.highlight-text-block {
  font-weight: 500;
  font-size: 20px;
  line-height: 19px;
  color: #313135;
  margin-top: 65px;
  &__value {
    font-size: 32px;
  }
}

.weather-ico {
  display: flex;
  justify-content: center;
}

.preloader {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  &__ico {
    animation: loader_rotate 3s infinite;
  }
  @keyframes loader_rotate {
    to {
      transform: rotate(360deg);
    }
  }
}

.base-button {
  padding: 10px 15px;
  background-color: #5a87de;
  color: #fff;
  font-weight: bold;
  font-family: "Gotham", sans-serif;
  border-radius: 5px;
}

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 950;
  display: flex;
  align-items: center;
  justify-content: center;
  &__body{
    background-color: #FFF;
    width: 300px;
    height: 100px;
    border-radius: 20px;
    padding: 10px;
  }
}

.forecast-enter-active {
  transition: all 0.2s ease-out;
}

.forecast-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}
.forecast-enter-from,
.forecast-leave-to {
  opacity: 0;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  &__code {
    font-weight: bold;
    font-size: 120px;
  }
  &__description {
    font-weight: 200;
  }
}

@import "./media.scss";
